
.cb-page{
    background-color: darkgray;
    height: 87vh;
    bottom: 0%;
}

.confirm-booking-heading{
    text-align: center;
}

.confirm-booking{
    display: flex;
    margin: auto;
    width: 50%;
    max-width: 50%;
    height: 100%;
    flex-direction: column;
    background-color: white;
    z-index: 3;
}

.confirm-car-card{
    position: relative;
    width: 60%;
    margin: auto;
    top: 5%;
}

.booking-confirmation-form-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 30%;
    width: 40%;
    border: 1px solid black;
    flex-direction: column;
}

.submit-booking{
    text-align: center;
    margin: 8px;
    margin-top: 20px;
}

.submit-booking:hover{
    background-color:rgb(196, 194, 194);
}

.booking-item{
    margin: 8px;
}

