.confirm-booking{
    display: flex;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 80vh;
}

.booking-confirmation-form-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 20%;
    width: 20%;
    border: 1px solid black;
    flex-direction: column;
}

.submit-booking{
    text-align: center;
    margin: 8px;
    margin-top: 20px;
}

.booking-item{
    margin: 8px;
}

