.profile-page{
    width: 100%;
    max-width: 100%;
    min-height: 84vh;
    margin: 20px;
}

.your-bookings-heading{
    margin: 20px;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
}

.your-booking-cards-holder{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.your-booking-card{
    flex-basis: 32%;
    margin: 10px 0px;
}

.your-booking-details{
    text-align: center;
}

.your-booking-start-end{
    font-size: 20px;
    font-weight: 900;
}

.your-booking-price{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 900;
}

.delete-booking-button{
    height: 40px;
    width: 160px;
    font-size: 16px;
    margin: 0 10px;
    background: none;
    border: 1px solid rgb(196, 194, 194);
    border-radius: 7px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.delete-booking-button:hover{
    background-color:rgb(196, 194, 194);
}