.feature-one{
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.feature-one-heading{
    text-align: center;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
}

.heading-one{
    margin: 0px 0px 12px;
    font-size: 21px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: -0.5px;
}

.heading-two{
    margin: 0px 0px 16px;
    font-size: 51px;
    font-weight: 900;
    line-height: 51px;
    letter-spacing: -0.5px;
}

.feature-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

.feature-logo{
    height: 48px;
    width: 48px;
    color: lightskyblue;
    margin: 0px 30px 10px 0px;
}

.feature {
    margin: 40px 0px 0px;
    padding: 0px 10px;
    display: initial;
    width: 300px;
}

.feature-content{
    font-weight: 400;
    font-size: 16;
}

.feature-title{
    font-size: 21px;
    margin: 0px 0px 8px;
    font-weight: 900;
    line-height: 28px;
    color: #121214;
}

@media screen and (max-width: 884px){
    .feature-container{
        flex-direction: column;
    }

    .feature{
        width: 500px;
    }
    
}

@media screen and (max-width: 525px){
    .feature-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .feature{
        flex-basis: 80%;
    }

}